.main {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.table {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  font-size: 24px;

  @media (max-width: 767px) {
    width: 100%;
    font-size: 18px;
  }
}

.floatText {
  top: 12px;
  width: 100%;
  position: absolute;
  background-color: transparent;
  color: white;
  display: flex;
  justify-content: center;
}


.fullLinkLeft {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #19418b;
  color: white;

  font-size: 44px;

  @media (max-width: 767px) {
    font-size: 36px;
  }

}

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 28px;
  height: 56px;
  margin-bottom: 16px;
}

.leftNav {
  display: flex;
  background-color: #19418b;
  color: white;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.rightNav {
  display: flex;
  background-color: #d22d2d;
  color: white;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.fullLinkRight {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #d22d2d;
  color: white;
  font-size: 44px;

  @media (max-width: 767px) {
    font-size: 36px;
  }
}

.inputContainer {
  height: 50px;
  display: grid;
  margin-left: auto;
  width: 75%;
  margin-right: auto;
  grid-template-columns: 75% auto;
  margin-bottom: 12px;
}

.inputSelect {
  display: grid;
  margin-left: auto;
  width: 75%;
  margin-right: auto;
  grid-template-columns: auto 75%;
  margin-bottom: 12px;
}

.inputFont {
  font-size: 24px;
}

.header {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 12px;

  @media (max-width: 767px) {
    width: 100%;
  }
}

.tableHeader {
  background-color: #d22d2d;
  color: white;
}

.tableData {
  border-bottom: 1px solid #ddd;
}